/*----------------------GLOBAL-----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.yell {
    color: #FAB11D;
}
/*----------------------END OF GLOBAL-----------------------*/
/*----------------------NAV-----------------------*/
nav {
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #16232b;
}

nav img {
    width: 20vw;
}

#list {
    height: 100%;
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: #fff;
}

.listItem {
    display: inline-block;
    font-size: 1vw;
}

.ham {
    display: none;
}

/*----------------------END OF NAV-----------------------*/
/*----------------------HEADER-----------------------*/
header {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    width: 80%;
    font-size: 4vw;
}
/*----------------------END OF HEADER-----------------------*/
/*----------------------OPTIONS-----------------------*/
#opSect {
    position: relative;
}

#bar {
    position: absolute;
    top: -2vh;
    width: 100%;
    height: 7vh;
    background-color: #16232b;
    z-index: 1;
}

#options {
    position: relative;
    height: 60vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 20;
}

.op {
    width: 18.5vw;
    list-style: none;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 3.8vw;
    line-height: 110vh;
    text-shadow: 0.1vw 0.1vw 0.2vw #000;
    border-radius: 0.2vw;
    background-position: center;
    background-size: cover;
}

#rArrow {
    width: 8vw;
}

#arr {
    display: none;
}

.op:nth-child(1) {
    line-height: 70vh;
    background-image: url('./img-trees.png');
}
.op:nth-child(2) {
    background-image: url('./img-bike.jpg');
}
.op:nth-child(3) {
    background-image: url('./img-cafe.jpg');
}
.op:nth-child(4) {
    background-image: url('./img-travel.jpg');
}
.op:nth-child(5) {
    background-image: url('./img-local.jpg');
}
/*----------------------END OF OPTIONS-----------------------*/
/*----------------------ARTICLES-----------------------*/
#artSect {
    height: 100vh;
    width: 95vw;
    margin: 0 auto;
    padding: 3vh 1vw 4vh 1vw;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    background-color: #EEF3F9;
}

.artHeader {
    font-size: 1.3vw;
}

/*----------------------LARGE ARTICLES-----------------------*/
#largeArt {
    height: 100%;
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lSubBox {
    height: 42vh;
    display: flex;
    padding-right: 3vw;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    border-radius: 0.2vw;
}

.lSubBox:nth-child(1){
    margin-bottom: 1.5vw;
}

.lSubBox img {
    height: 50vh;
    width: 13vw;
}

.lSubBox div {
    height: 40vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bigHead {
    font-size: 1.3vw;
}

.bigBtn {
    width: 25%;
    padding: 0.5vw;
    font-weight: bold;
    font-size: 1vw;
    border: none;
    border-radius: 0.2vw;
    color: #535251;
    background-image: linear-gradient(#FDD425, #FAB013); 
}

.bigTxt {
    font-size: 1.2vw;
    line-height: 1.8vw;
    color: rgba(0,0,0,0.5);
}
/*----------------------END OF LARGE ARTICLES-----------------------*/
/*----------------------SMALL ARTICLES-----------------------*/
.smallArt {
    height: 100vh;
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.listing h3 {
    padding-bottom: 1.4vw;
}

.gt {
    float: right;
}

#sSubBox {
    height: 35vh;
    padding: 2vw;
    font-size: 1.2vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 0.2vw;
}

.star {
    height: 40vh;
    margin-bottom: 6vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.star h3 {
    padding-bottom: 1.6vw;
}

.starDiv {
    margin-bottom: 1.5vw;
}

.starImg {
    height: 10vh;
}

.starTxt {
    width: 71%;
    margin-right: 2vw;
    font-size: 1.2vw;
    float: right;
    color: rgba(0,0,0,0.5);
}
/*----------------------END OF SMALL ARTICLES-----------------------*/
/*----------------------END OF ARTICLES-----------------------------*/
/*----------------------OPTIONS-----------------------------*/
#aboutSect {
    height: 55vh;
    padding: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#aboutHead {
    font-size: 2vw;
    font-weight: normal;
}

#about {
    display: flex;
}

#about h1 {
    align-self: center;
    flex-basis: 40%;
    font-size: 4.5vw;
    font-weight: bold;
    color: #16232b;
}

#about p {
    flex-basis: 58%;
    font-size: 1.2vw;
    color: rgba(0,0,0,0.5);
}

.line {
    padding-bottom: 0.5vw;
    border-bottom: solid 0.5vw #FAAD11;
}
/*----------------------END OF OPTIONS-----------------------*/
/*----------------------FOOTER-----------------------*/
footer {
    height: 35vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #16232B;
}
/*----------------------FOOT 1-----------------------*/
.foot1 {
    height: 70%;
    width: 30%;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    color: rgba(255,255,255,0.8);
}

.foot1 img {
    width: 20vw;
    margin-bottom: 2vh;
}


/*----------------------- LEFT THIS IN TO SHOW MY FIRST SOLUTION
#imgFix {
    position: relative;
    height: 22vh;
    width: 20vw;
}

#subImgFix {
    height: 16vh;
    width: 7vw;
    margin: 0 auto;
    background: url('./logo-white.svg') no-repeat left;
    background-size: cover;
}

#subImgFix2 {
    position: absolute;
    left: 3vw;
    top: 12vh;
    height: 8vh;
    width: 14.5vw;
    background: url('./logo-white.svg') no-repeat right;
    background-size: cover;
}
*/
/*----------------------END OF FOOT 1-----------------------*/
/*----------------------FOOT 2-----------------------*/
.foot2 {
    height: 80%;
    width: 50%;
    margin-top: 2vw;
    text-align: left;
    color: rgba(255,255,255,0.8);
}

th {
    padding: 0 2.5vw 1.2vw;
    font-size: 0.9vw;
    font-weight: normal;
}

td {
    min-width: 10vw;
    font-size: 0.9vw;
    padding: 0.3vw 0 0.3vw 2.5vw;
}

.footLine {
    padding-bottom: 0.8vh;
    border-bottom: solid 0.3vh rgba(255,255,255,0.8);
}

.footMob {
    display: none;
}
/*----------------------END OF FOOT 2-----------------------*/
/*----------------------END OF FOOTER-----------------------*/
/*----------------------NEWS-----------------------*/
.news {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(#FDD425, #FAB013);
}

.news p {
    font-size: 3vw;
    font-weight: bold;
    color: #16232b;
}

.signup {
    height: 6vh;
    width: 30%;
    display: flex;
    align-items: center;
}

#supBox {
    height: 6vh;
    width: 20vw;
    padding-left: 1vw;
    margin: 0;
    border: none;
    border-radius: 0.2vw 0 0 0.2vw;
}

#supBox::placeholder {
    font-size: 1.2vw;
    color: #16232b;
}

#supBtn {
    height: 6vh;;
    margin-left: -1vw;
    padding: 0 2vw;
    font-size: 1.2vw;
    font-weight: bold;
    border: none;
    border-radius: 0.2vw;
    color: #FAB013;
    background-image: linear-gradient(#2D3F4B, #18252D);
}
/*----------------------END OF NEWS-----------------------*/
/*----------------------MOBILE-----------------------*/
@media only screen and (max-width:480px) {
    nav {
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #16232b;
    }
    
    nav img {
        width: 50vw;
        margin-left: 2vw;
    }
    
    #list {
        display: none;
    }
/*----------------------HAMBURGER-----------------------*/
    .ham {
        height:100%;
        width: 12vw;
        margin-right: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }
      
      .ham div {
        width: 12vw;
      }
      
      .hamWrap div {
        height: 0.5vh;
        width: 6vw;
        border-radius: 0.2vw;
        background-color: #FAAD11;
      }
      
      .hamWrap div:nth-child(2) {
        margin: 2.5vw 0;
      }
      
      .midLeft, .midRight, .topLeft, .botLeft, .topRight, .botRight, .hamNav {/*change speed as desired*/
        transition: all 300ms ease-in-out;
      }
      
      .ham:hover .midLeft {
        opacity: 0;
        transform: translateX(-1vw)
      }
      .ham:hover .midRight {
        opacity: 0;
        transform: translateX(1vw)
      }
      
      .ham:hover .topLeft {
        transform: Rotate(40deg) translate(1.3vw, 0.6vw);
      }
      
      .ham:hover .botLeft {
        transform: Rotate(-40deg) translate(1.3vw, -0.6vw);
      }
      
      .ham:hover .topRight {
        transform: Rotate(-40deg) translate(-1.3vw, 0.6vw);
      }
      
      .ham:hover .botRight {
        transform: Rotate(40deg) translate(-1.3vw, -0.6vw);
      }
      /*----------------------END OF HAMBURGER-----------------------*/
      /*----------------------HEADER-----------------------*/
    header {
        height: 30vh;
    }

    header h1 {
        font-size: 6vw;
    }
    /*----------------------END OF HEADER-----------------------*/
    /*----------------------OPTIONS-----------------------*/
    #options {
        height: 16vh;
    }

    .op {
        line-height: 15vh;
        text-shadow: 0.1vw 0.1vw 0.2vw #000;
        border-radius: 1vw;
    }

    #rArrow {
        display: none;
    }

    #arr {
        display: inline-block;
    }

    .op:nth-child(1) {
        line-height: 22vh;
    }
    /*----------------------END OF OPTIONS-----------------------*/
    /*----------------------ARTICLES-----------------------*/
    #artSect {
        height: 140vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .artHeader {
        font-size: 6.5vw;
        font-weight: bold;
        margin: 0 auto;
        margin-bottom: 3vw;
    }

    /*----------------------LARGE ARTICLES-----------------------*/
    #largeArt {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .artBox {
        width: 100%;
        margin-bottom: 2vh;
        display: flex;
        justify-content: space-around;
    }

    .lSubBox {
        position: relative;
        height: 70vw;
        width: 45vw;
        padding-right: 0;
        justify-content: space-around;
        background-color: transparent;
        border-radius: 1vw;
    }

    .lSubBox:nth-child(1){
        margin-bottom: 1.5vw;
    }

    .lSubBox img {
        height: 100%;
        width: 100%;
        z-index: 20;
    }

    .lSubBox div {
        position: absolute;
        height: 23vh;
        width: 34vw;
        align-self: flex-end;
        display: flex;
        z-index: 21;
    }

    .bigHead {
        font-size: 4.5vw;
        line-height: 3.5vh;
        margin-bottom: 1.5vh;
        color: #fff;
        text-shadow: 0.1vw 0.1vw 0.2vw #000;
    }

    .mobHead {
        margin-top: 5.5vh;
    }

    .bigBtn {
        position: absolute;
        top: 16vh;
        width: 100%;
        margin-top: 2vh;
        padding: 1.5vw;
        font-size: 3vw;
        border-radius: 1vw; 
    }

    /*----------------------END OF LARGE ARTICLES-----------------------*/
    /*----------------------SMALL ARTICLES-----------------------*/
    .smallArt {
        height: 100vh;
        width: 100%;
        align-items: center;
    }


    .listing h3 {
        padding-bottom: 1.4vw;
    }

    #sSubBox {
        height: 35vh;
        width: 90vw;
        padding: 2vw;
        font-size: 3.5vw;
        border-radius: 1vw;
    }

    .star {
        height: 40vh;
        width: 90vw;
    }

    .star h3 {
        padding-bottom: 1.6vw;
    }

    .starImg {
        height: 11vh;
    }

    .starTxt {
        width: 60%;
        margin-right: 12vw;
        font-size: 3.5vw;
    }
    /*----------------------END OF SMALL ARTICLES-----------------------*/
    /*----------------------END OF ARTICLES-----------------------------*/
    /*----------------------OPTIONS-----------------------------*/
    #aboutSect {
        height: 108vh;
        width: 90vw;
        margin: 0 auto;
        display: block;
        padding: 0;
    }

    #aboutHead {
        font-size: 9vw;
        margin: 3.5vw 0;
        font-weight: normal;
    }

    #about {
        display: flex;
        flex-direction: column;
    }

    #about h1 {
        align-self: center;
        font-size: 11vw;
        font-weight: bold;
        color: #16232b;
    }

    #about p {
        height: 50vh;
        margin-top: 12vw;
        font-size: 3.5vw;
        line-height: 5vw;
    }

    .line {
        padding-bottom: 3vw;
        border-bottom: solid 2.5vw #FAAD11;
    }
    /*----------------------END OF OPTIONS-----------------------*/
    /*---------------------FOOTER-------------------------------*/
    footer {
        height: 110vh;
        flex-direction: column-reverse;
    }

    .foot1 {
        height: 15%;
        width: 80vw;
        margin-bottom: 3vh;
        font-size: 3vw;
    }

    .foot1 img {
        width: 50vw;
        margin-bottom: 2vh;
    }

    .foot2 {
        display: none;
    }

    .footMob {
        height: 100vh;
        padding-top: 3vh;
        margin-bottom: 4vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: rgba(255,255,255,0.8);
    }

    .footLine {
        padding: 0 4vw 0.8vh 4vw;
    }

    .footMob ul {
        list-style: none;
        text-align: center;
    }

    .footMob ul li:nth-child(1) {
        margin-bottom: 2vh;
    }

    .footMob ul li {
        width: 80vw;
        display: block;
        padding: 2vw 0;
    }
    /*----------------------END OF FOOTER-----------------------*/
    /*----------------------NEWS-----------------------*/
    .news {
        height: 5vh;
    }

    .news p {
        font-size: 3.5vw;
        font-weight: 900;
    }

    .signup {
        height: 5vh;
        width: 20%;
        display: flex;
        align-items: center;
    }

    #supBox {
        display: none;
    }

    #supBtn {
        height: 4vh;
        width: 18vw;
        margin: 0;
        padding: 0 3vw;
        font-size: 3vw;
        border-radius: 1vw;
    }
    /*----------------------END OF NEWS-----------------------*/
    /*----------------------END OF MOBILE-----------------------*/
}