/*----------------------GLOBAL-----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.yell {
    color: #FAB11D;
}
/*----------------------END OF GLOBAL-----------------------*/
/*----------------------NAV-----------------------*/
nav {
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #16232b;
}

nav img {
    width: 20vw;
}

#list {
    height: 100%;
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: #fff;
}

.listItem {
    display: inline-block;
    font-size: 1vw;
}

/*----------------------END OF NAV-----------------------*/
/*----------------------HEADER-----------------------*/
header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    width: 80%;
    font-size: 4vw;
}
/*----------------------END OF HEADER-----------------------*/
/*----------------------OPTIONS-----------------------*/
#opSect {
    position: relative;
}

#bar {
    position: absolute;
    top: -2vh;
    width: 100%;
    height: 7vh;
    background-color: #16232b;
    z-index: 1;
}

#options {
    position: relative;
    height: 60vh;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 20;
}

.op {
    width: 18.5vw;
    list-style: none;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 3.8vw;
    line-height: 110vh;
    text-shadow: 0.1vw 0.1vw 0.2vw #000;
    border-radius: 0.2vw;
    background-position: center;
    background-size: cover;
}

#rArrow {
    width: 8vw;
}

.op:nth-child(1) {
    line-height: 70vh;
    background-image: url('./img-trees.png');
}
.op:nth-child(2) {
    background-image: url('./img-bike.jpg');
}
.op:nth-child(3) {
    background-image: url('./img-cafe.jpg');
}
.op:nth-child(4) {
    background-image: url('./img-travel.jpg');
}
.op:nth-child(5) {
    background-image: url('./img-local.jpg');
}
/*----------------------END OF OPTIONS-----------------------*/
/*----------------------ARTICLES-----------------------*/
#artSect {
    height: 100vh;
    width: 95vw;
    margin: 0 auto;
    padding: 3vh 1vw 4vh 1vw;
    display: flex;
    justify-content: space-between;
    background-color: #EEF3F9;
}
/*----------------------LARGE ARTICLES-----------------------*/
#largeArt {
    height: 100%;
    width: 58%;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lSubBox {
    height: 42vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    border-radius: 0.5vw;
}


.lSubBox div {
    height: 40vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bigHead {
    font-size: 1.3vw;
}

.bigBtn {
    width: 25%;
    padding: 0.5vw;
    font-weight: bold;
    font-size: 1vw;
    border: none;
    border-radius: 0.2vw;
    color: #535251;
    background-image: linear-gradient(#FDD425, #FAB013); 
}

.bigTxt {
    line-height: 1.8vw;
    color: rgba(0,0,0,0.5);
}
/*----------------------END OF LARGE ARTICLES-----------------------*/
/*----------------------SMALL ARTICLES-----------------------*/
.smallArt {
    height: 100vh;
    width: 31%;
    margin-right: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.listing h3 {
    padding-bottom: 1.6vw;
}

.gt {
    float: right;
}

#sSubBox {
    height: 35vh;
    padding: 2vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 0.2vw;
}

.star {
    height: 40vh;
    margin-bottom: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.star h3 {
    padding-bottom: 1.6vw;
}

.starDiv {
    margin-bottom: 1.5vw;
}

.starTxt {
    width: 71%;
    margin-right: 2vw;
    float: right;
    color: rgba(0,0,0,0.5);
}
/*----------------------END OF SMALL ARTICLES-----------------------*/
#aboutSect {
    height: 55vh;
    padding: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#aboutHead {
    font-weight: normal;
}

#about {
    display: flex;
    margin-top: 1vw;
}

#about h1 {
    align-self: center;
    flex-basis: 40%;
    font-size: 4.5vw;
    font-weight: bold;
    color: #16232b;
}

#about p {
    flex-basis: 58%;
    color: rgba(0,0,0,0.5);
}

.line {
    padding-bottom: 0.5vw;
    border-bottom: solid 0.5vw #FAAD11;
}
/*----------------------END OF ARTICLES-----------------------*/
/*----------------------FOOTER-----------------------*/
footer {
    height: 35vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #16232B;
}
/*----------------------FOOT 1-----------------------*/
.foot1 {
    height: 70%;
    width: 30%;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,0.8);
}

#imgFix {
    position: relative;
    height: 22vh;
    width: 20vw;
    overflow: hidden;
}

#subImgFix {
    height: 16vh;
    width: 7vw;
    margin: 0 auto;
    background: url('./logo-white.svg') no-repeat left;
    background-size: cover;
}

#subImgFix2 {
    position: absolute;
    left: 3vw;
    top: 6vw;
    height: 8vh;
    width: 14.5vw;
    background: url('./logo-white.svg') no-repeat right;
    background-size: cover;
}
/*----------------------END OF FOOT 1-----------------------*/
/*----------------------FOOT 2-----------------------*/
.foot2 {
    height: 80%;
    width: 50%;
    margin-top: 2vw;
    text-align: left;
    color: rgba(255,255,255,0.8);
}

th {
    padding: 0 2.5vw 1.2vw;
    font-size: 0.9vw;
    font-weight: normal;
}

td {
    min-width: 10vw;
    font-size: 0.9vw;
    padding: 0.3vw 0 0.3vw 2.5vw;
}

.footLine {
    padding-bottom: 0.8vh;
    border-bottom: solid 0.3vh rgba(255,255,255,0.8);
}
/*----------------------END OF FOOT 2-----------------------*/
/*----------------------END OF FOOTER-----------------------*/
/*----------------------NEWS-----------------------*/
.news {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(#FDD425, #FAB013);
}

.news p {
    font-size: 3vw;
    font-weight: bold;
    color: #16232b;
}

.signup {
    height: 6vh;
    width: 30%;
    display: flex;
    align-items: center;
}

#supBox {
    height: 6vh;
    width: 20vw;
    padding-left: 1vw;
    margin: 0;
    border: none;
    border-radius: 0.2vw 0 0 0.2vw;
}

#supBox::placeholder {
    font-size: 1.2vw;
    color: #16232b;
}

#supBtn {
    height: 6vh;;
    margin-left: -1vw;
    padding: 0 2vw;
    font-size: 1.2vw;
    font-weight: bold;
    border: none;
    border-radius: 0.2vw;
    color: #FAB013;
    background-image: linear-gradient(#2D3F4B, #18252D);
}
/*----------------------END OF NEWS-----------------------*/