/*----------------------GLOBAL-----------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.yell {
    color: #FAB11D;
}
/*----------------------END OF GLOBAL-----------------------*/
/*----------------------NAV-----------------------*/
nav {
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #16232b;
}

#list {
    height: 100%;
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: #fff;
}

.listItem {
    display: inline-block;
    font-size: 1vw;
}

/*----------------------END OF NAV-----------------------*/
/*----------------------HEADER-----------------------*/
header {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1 {
    width: 80%;
    font-size: 4vw;
}
/*----------------------END OF HEADER-----------------------*/
/*----------------------OPTIONS-----------------------*/
#opSect {
    position: relative;
}

#bar {
    position: absolute;
    top: -2vh;
    width: 100%;
    height: 7vh;
    background-color: #16232b;
    z-index: 1;
}

#options {
    position: relative;
    height: 53vh;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 20;
}

.op {
    width: 18.5vw;
    list-style: none;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 3.8vw;
    line-height: 95vh;
    background-position: center;
    background-size: cover;
}

.op:nth-child(1) {
    line-height: 65vh;
    background-image: url('./img-trees.png');
}
.op:nth-child(2) {
    background-image: url('./img-bike.jpg');
}
.op:nth-child(3) {
    background-image: url('./img-cafe.jpg');
}
.op:nth-child(4) {
    background-image: url('./img-travel.jpg');
}
.op:nth-child(5) {
    background-image: url('./img-local.jpg');
}
/*----------------------END OF OPTIONS-----------------------*/
/*----------------------ARTICLES-----------------------*/
#artSect {
    height: 100vh;
    width: 95vw;
    margin: 0 auto;
    padding: 3vh 1vw;
    display: flex;
    flex-wrap: wrap;
    background-color: #EEF3F9;
}

#largeArt {
    height: 100%;
    width: 58%;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subBox {
    height: 42vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    border-radius: 0.5vw;
}


.subBox div {
    height: 40vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bigHead {
    font-size: 1.2vw;
}

.bigBtn {
    width: 25%;
    padding: 0.5vw;
    font-weight: bold;
    font-size: 1vw;
    border: none;
    border-radius: 0.2vw;
    color: #535251;
    background-image: linear-gradient(#FDD425, #FAB013); 
}

.bigTxt {
    line-height: 1.8vw;
    color: rgba(0,0,0,0.5);
}
/*----------------------END OF ARTICLES-----------------------*/